{% extends 'base.html' %}

{% block body %}
<div id="header">
  <title>Mesa i965 CI results</title>
  {% if platform_name %}
  <h1>Results for {{ job }}/{{ build_name }}/{{ platform_name }}/{{ group_name }}:</h1>
  {% else %}
  <h1>Results for {{ job }}/{{ build_name }}/{{ group_name }}:</h1>
  {% endif %}
  <div id="navbox">
    {% for link in top_links %}
    <span><a href="{{ link["href"] }}">{{ link["text"] }}</a></span>
    {% endfor %}
  </div>
  <div id="contentsbox">
      {% if revisions_tuples %}
      <span><a href="#revisions">Revisions</a></span>
      {% endif %}
      {% if components %}
      <span><a href="#components">Components</a></span>
      {% endif %}
      {% if subgroups %}
      <span><a href="#subgroups">Subgroups</a></span>
      {% endif %}
      {% if platforms %}
      <span><a href="#platforms">Platforms</a></span>
      {% endif %}
      {% if test_results %}
      <span><a href="#test_results">Tests</a></span>
      {% endif %}
      {% if fails %}
      <span><a href="#fails">Test Failures</a></span>
      {% endif %}
      <span class="header_text">Search tests:<form style="display: inline;" action="{{ group_id }}/search"><input type="text" style="min-width: 40em" name="q" value=""/></form></span>
  </div>
  {% if not imported %}
  <div id="not_imported_banner">
    Note: This build has not finished importing all results, so they may be incomplete. Please refresh this page after waiting a few minutes.
  </div>
  {% endif %}
</div>


<div id="content">
  <div id="comparebuildsbox">
    {% if builds %}
    <form action="{{ request.url_root + job + '/compare' }}">
      <select name="rhs" required>
        {% for build in builds|sort(reverse=True) %}
        <option value={{ build }}>{{ builds[build] }}</option>
        {% endfor %}
      </select>
      <input name="lhs" style="display: none" type="text" value="{{ build_id }}"/>
      <input class="link_button" type="submit" value="Compare"/>
    </form>
    {% endif %}
  </div>
  {% if result_path and revisions_tuples and internal_site %}
  <div id="buildactionsbox">
    <a class="link_button" href="{{ base_url + '/job/accept_failed_tests/parambuild/?result_path=' + result_path}}">Accept Changed Tests</a><br>
    <a class="link_button" href="{{ base_url + '/job/bisect_failures/parambuild/?result_path=' + result_path}}">Bisect Changed Tests</a><br>
    <a class="link_button" href="{{ base_url + '/job/' + job + '/parambuild/?revision=' + ' '.join(revisions_list)}}">Retest</a><br>
  </div>
  {% endif %}

  {% if revisions_tuples %}
  <div>
    <a id="revisions"></a>
    <a class="section-label{% if expanded_sections['revisions'] %}-expanded{% endif %}" href="{{ request.path + '?expand_toggle=revisions' }}">Revisions</a>
    <div class="section" {% if not expanded_sections['revisions'] %}style="display:None"{% endif %}>
      <table style="min-width:5%">
        <colgroup>
          <col/>
          <col/>
          <col/>
        </colgroup>
        {% for revision in revisions_tuples %}
        <tr>
          <td {{ 'class=changed' if revision.changed }}><b>{{ revision.project}}</b>={{ revision.sha }}</td>
          <td {{ 'class=changed' if revision.changed }} style="text-align: left;">{{ revision.author}}</b></td>
          <td {{ 'class=changed' if revision.changed }} style="text-align: left;">{{ revision.description}}</td>
          {% if internal_site %}
          <td>
            <a class="link_button" href={{ base_url + '/job/accept_failed_tests/parambuild/?result_path=' + result_path + '&blame_revision=' + revision.project + '=' + revision.sha}}>Blame</a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}

  {% if components %}
  <div>
    <a id="components"></a>
    <a class="section-label{% if expanded_sections['components'] %}-expanded{% endif %}" href="{{ request.path + '?expand_toggle=components' }}">Components</a>
    <div class="section" {% if not expanded_sections['components'] %}style="display:None"{% endif %}>
      <table style="width:100%">
        <colgroup>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
          <col/>
        </colgroup>
        <tr>
          {% set sort_col = sort_prefs['components'].split(':') %}
          <th
            {% if sort_col[0] == 'component_name' %}
            class="sort-section-{{ sort_col[1] }}"
            {% endif %}
            ><a href="{{ request.path + '?sort_col=component_name&sort_section=components' }}">Component</a>
          </th>
          <th
            {% if sort_col[0] == 'arch' %}
            class="sort-section-{{ sort_col[1] }}"
            {% endif %}
            ><a href="{{ request.path + '?sort_col=arch&sort_section=components' }}">Arch</a>
          </th>
          <th
            {% if sort_col[0] == 'shard' %}
            class="sort-section-{{ sort_col[1] }}"
            {% endif %}
            ><a href="{{ request.path + '?sort_col=shard&sort_section=components' }}">Shard</a>
          </th>
          <th
            {% if sort_col[0] == 'start_time' %}
            class="comptable_row_date sort-section-{{ sort_col[1] }}"
            {% else %}
            class="comptable_row_date"
            {% endif %}
            ><a href="{{ request.path + '?sort_col=start_time&sort_section=components' }}">Start Time</a>
          </th>
          <th
            {% if sort_col[0] == 'end_time' %}
            class="comptable_row_date sort-section-{{ sort_col[1] }}"
            {% else %}
            class="comptable_row_date"
            {% endif %}
            ><a href="{{ request.path + '?sort_col=end_time&sort_section=components' }}">End Time</a>
          </th>
          <th
            {% if sort_col[0] == 'machine' %}
            class="sort-section-{{ sort_col[1] }}"
            {% endif %}
            ><a href="{{ request.path + '?sort_col=machine&sort_section=components' }}">Machine</a>
          </th>
          <th
            {% if sort_col[0] == 'status' %}
            class="sort-section-{{ sort_col[1] }}"
            {% endif %}
            ><a href="{{ request.path + '?sort_col=status&sort_section=components' }}">Status</a>
          </th>
          <th>Artifact(s)</a></th>
        </tr>
        {% for component in components %}
        <tr>
          {% if internal_site %}
          <td class="{{ component["status"] }}"><a href="{{ component["component_url"] }} ">{{ component["component_name"] }}</a></td>
          {% else %}
          <td class="{{ component["status"] }}">{{ component["component_name"] }}</td>
          {% endif %}
          <td class="{{ component["status"] }}">{{ component["arch"] }}</td>
          <td class="{{ component["status"] }}">{{ component["shard"] }}</td>
          <td class="{{ component["status"] }}">{{ component["start_time"] }}</td>
          <td class="{{ component["status"] }}">{{ component["end_time"] }}</td>
          {% if internal_site %}
          <td class="{{ component["status"] }}"><a href="{{ component["machine_url"] }} ">{{ component["machine"] }}</td>
          {% else %}
          <td class="{{ component["status"] }}">{{ component["machine"] }}</td>
          {% endif %}
          <td class="{{ component["status"] }}">{{ component["status"] }}</td>
          <td class="{{ component["status"] }}">
            {% for artifact in component["artifacts"] %}
            <a href="{{ request.path + '/' + component["component_id"] + '/artifacts/' + artifact["id"] }} ">{{ '[' + artifact["type"] + ']' }}</a>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}

  {% if subgroups %}
  <div>
    <a id="subgroups"></a>
    <a class="section-label{% if expanded_sections['subgroups'] %}-expanded{% endif %}"
       href="{{ request.path + '?expand_toggle=subgroups' }}">{% if platform_name %}{{ platform_name }} {% endif %}Subgroups</a>
    <div class="section" {% if not expanded_sections['subgroups'] %}style="display:None"{% endif %}>
        <div class="section">
          <table style="width:100%">
            <colgroup>
              <col/>
              <col/>
              <col/>
              <col/>
              <col/>
            </colgroup>
            <tr>
              {% set sort_col = sort_prefs['subgroups'].split(':') %}
              <th
                {% if sort_col[0] == 'subgroup_name' %}
                class="subgrouptable_row_name sort-section-{{ sort_col[1] }}"
                {% else %}
                class="subgrouptable_row_name"
                {% endif %}
                ><a href="{{ request.path + '?sort_col=subgroup_name&sort_section=subgroups' }}">Group Name</a>
              </th>
              <th
                {% if sort_col[0] == 'time' %}
                class="subgrouptable_row_other sort-section-{{ sort_col[1] }}"
                {% else %}
                class="subgrouptable_row_other"
                {% endif %}
                ><a href="{{ request.path + '?sort_col=time&sort_section=subgroups' }}">Execution Time</a>
              </th>
              <th
                {% if sort_col[0] == 'pass_count' %}
                class="subgrouptable_row_other sort-section-{{ sort_col[1] }}"
                {% else %}
                class="subgrouptable_row_other"
                {% endif %}
                ><a href="{{ request.path + '?sort_col=pass_count&sort_section=subgroups' }}">Pass Count</a>
              </th>
              <th
                {% if sort_col[0] == 'filtered_pass_count' %}
                class="subgrouptable_row_other sort-section-{{ sort_col[1] }}"
                {% else %}
                class="subgrouptable_row_other"
                {% endif %}
                ><a href="{{ request.path + '?sort_col=filtered_pass_count&sort_section=subgroups' }}">Expected Failures</a>
              </th>
              <th
                {% if sort_col[0] == 'fail_count' %}
                class="subgrouptable_row_other sort-section-{{ sort_col[1] }}"
                {% else %}
                class="subgrouptable_row_other"
                {% endif %}
                ><a href="{{ request.path + '?sort_col=fail_count&sort_section=subgroups' }}">Fail Count</a>
              </th>
            </tr>
            {% for subgroup in subgroups %}
            <tr>
              <td><a href="{{ subgroup["subgroup_id"] }}">{{ subgroup["subgroup_name"] }}</a></td>
              <td>{{ subgroup["time"] }}</td>
              <td>{{ subgroup["pass_count"] }}</td>
              {% if subgroup["filtered_pass_count"] %}
              <td class="skip">{{ subgroup["filtered_pass_count"] }}</td>
              {% else %}
              <td>{{ subgroup["filtered_pass_count"] }}</td>
              {% endif %}
              {% if subgroup["fail_count"] %}
              <td class="failure">{{ subgroup["fail_count"] }}</td>
              {% else %}
              <td>{{ subgroup["fail_count"] }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
    </div>
  </div>
  {% endif %}

  {% if platforms %}
  <div>
    <a id="platforms"></a>
    <a class="section-label{% if expanded_sections['platforms'] %}-expanded{% endif %}" href="{{ request.path + '?expand_toggle=platforms' }}">Platforms</a>
    <div class="section" {% if not expanded_sections['platforms'] %}style="display:None"{% endif %}>
        <div class="section">
          <table style="width:100%">
            <colgroup>
              <col/>
              <col/>
              <col/>
              <col/>
              <col/>
            </colgroup>
            <tr>
              {% set sort_col = sort_prefs['platforms'].split(':') %}
              <th
                {% if sort_col[0] == 'platform_name' %}
                class="subgrouptable_row_name sort-section-{{ sort_col[1] }}"
                {% else %}
                class="subgrouptable_row_name"
                {% endif %}
                ><a href="{{ request.path + '?sort_col=platform_name&sort_section=platforms' }}">Platform Name</a>
              </th>
              <th
                {% if sort_col[0] == 'time' %}
                class="subgrouptable_row_other sort-section-{{ sort_col[1] }}"
                {% else %}
                class="subgrouptable_row_other"
                {% endif %}
                ><a href="{{ request.path + '?sort_col=time&sort_section=platforms' }}">Execution Time</a>
              </th>
              <th
                {% if sort_col[0] == 'pass_count' %}
                class="subgrouptable_row_other sort-section-{{ sort_col[1] }}"
                {% else %}
                class="subgrouptable_row_other"
                {% endif %}
                ><a href="{{ request.path + '?sort_col=pass_count&sort_section=platforms' }}">Pass Count</a>
              </th>
              <th
                {% if sort_col[0] == 'filtered_pass_count' %}
                class="subgrouptable_row_other sort-section-{{ sort_col[1] }}"
                {% else %}
                class="subgrouptable_row_other"
                {% endif %}
                ><a href="{{ request.path + '?sort_col=filtered_pass_count&sort_section=platforms' }}">Expected Failures</a>
              </th>
              <th
                {% if sort_col[0] == 'fail_count' %}
                class="subgrouptable_row_other sort-section-{{ sort_col[1] }}"
                {% else %}
                class="subgrouptable_row_other"
                {% endif %}
                ><a href="{{ request.path + '?sort_col=fail_count&sort_section=platforms' }}">Fail Count</a>
              </th>
            </tr>
            {% for platform in platforms %}
            <tr>
              <td>
		<a href="../platform/{{ platform["platform_name"] }}/group/{{ group_id }}">
		  {{ platform["platform_name"] }}
		</a>
	      </td>
              <td>{{ platform["time"] }}</td>
              <td>{{ platform["pass_count"] }}</td>
              {% if platform["filtered_pass_count"] %}
              <td class="skip">{{ platform["filtered_pass_count"] }}</td>
              {% else %}
              <td>{{ platform["filtered_pass_count"] }}</td>
              {% endif %}
              {% if platform["fail_count"] %}
              <td class="failure">{{ platform["fail_count"] }}</td>
              {% else %}
              <td>{{ platform["fail_count"] }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
    </div>
  </div>
  {% endif %}

  {% if test_results %}
  <div class="section">
    <a id="test_results"></a>
    <h2>tests</h2>
    <table style="width:100%">
      <colgroup>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
      </colgroup>
      <tr>
        {% set sort_col = sort_prefs['test_results'].split(':') %}
        <th
          {% if sort_col[0] == 'test_name' %}
          class="sort-section-{{ sort_col[1] }}"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=test_name&sort_section=test_results' }}">Test</a>
        </th>
        <th
            {% if sort_col[0] == 'hardware' %}
            class="sort-section-{{ sort_col[1] }}"
            {% endif %}
          ><a href="{{ request.path + '?sort_col=hardware&sort_section=test_results' }}">Hardware</a></th>
        <th
          {% if sort_col[0] == 'arch' %}
          class="sort-section-{{ sort_col[1] }}"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=arch&sort_section=test_results' }}">Architecture</a>
        </th>
        <th
          {% if sort_col[0] == 'status' %}
          class="sort-section-{{ sort_col[1] }}"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=status&sort_section=test_results' }}">Status</a>
        </th>
        <th
          {% if sort_col[0] == 'filtered_status' %}
          class="sort-section-{{ sort_col[1] }}"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=filtered_status&sort_section=test_results' }}">Filtered Status</a>
        </th>
      </tr>
      {% for test_result in test_results %}
      <tr>
        <td>
	  <a
	    {% if platform_name %}
	      href="../../../results/{{ test_result["result_id"] }}"
	    {% else %}
	      href="../results/{{ test_result["result_id"] }}"
	    {% endif %}
	    >{{ test_result["test_name"] }}</a>
	</td>
        <td>{{ test_result["hardware"] }}</td>
        <td>{{ test_result["arch"] }}</td>
        <td class="{{ test_result["status"] }}">{{ test_result["status"] }}</td>
        <td class="{{ test_result["filtered_status"] }}">{{ test_result["filtered_status"] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

  {% if fails %}
  <div class="section">
    <a id="fails"></a>
    <h2>Test Failures</h2>
    <table style="width:100%">
      <colgroup>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
      </colgroup>
      <tr>
        {% set sort_col = sort_prefs['fails'].split(':') %}
        <th
          {% if sort_col[0] == 'test_name' %}
          class="failtable_row_test sort-section-{{ sort_col[1] }}"
          {% else %}
          class="failtable_row_test"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=test_name&sort_section=fails' }}">Test Name</a>
        </th>
        <th
          {% if sort_col[0] == 'hardware' %}
          class="failtable_row_other sort-section-{{ sort_col[1] }}"
          {% else %}
          class="failtable_row_other"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=hardware&sort_section=fails' }}">Hardware</a>
        </th>
        <th
          {% if sort_col[0] == 'architecture' %}
          class="failtable_row_other sort-section-{{ sort_col[1] }}"
          {% else %}
          class="failtable_row_other"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=architecture&sort_section=fails' }}">Architecture</a>
        </th>
        <th
          {% if sort_col[0] == 'status' %}
          class="failtable_row_other sort-section-{{ sort_col[1] }}"
          {% else %}
          class="failtable_row_other"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=status&sort_section=fails' }}">Status</a>
        </th>
        <th
          {% if sort_col[0] == 'filtered_status' %}
          class="failtable_row_other sort-section-{{ sort_col[1] }}"
          {% else %}
          class="failtable_row_other"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=filtered_status&sort_section=fails' }}">Filtered Status</a>
        </th>
        <th
          {% if sort_col[0] == 'time' %}
          class="failtable_row_other sort-section-{{ sort_col[1] }}"
          {% else %}
          class="failtable_row_other"
          {% endif %}
          ><a href="{{ request.path + '?sort_col=time&sort_section=fails' }}">Time</a>
        </th>
        <th class="failtable_row_other">
          Test History
        </th>
      </tr>
      {% for fail in fails %}
      <tr>
        <td>
	  <a
	    {% if platform_name %}
	      href="../../../results/{{ fail["result_id"] }}"
	    {% else %}
	      href="../results/{{ fail["result_id"] }}"
	    {% endif %}
	    >{{ fail["test_name"] }}</a></td>
        <td>{{ fail["hardware"] }}</td>
        <td>{{ fail["arch"] }}</td>
        <td class="{{ fail["status"] }}">{{ fail["status"] }}</td>
        <td class="{{ fail["filtered_status"] }}">{{ fail["filtered_status"] }}</td>
        <td>{{ fail["time"] }}</td>
        <td>
	  <a
	    {% if platform_name %}
	      href="../../../../../platform/{{platform_name}}/test/{{fail["test_id"]}}/history"
	    {% else %}
              href="../../../test/{{fail["test_id"]}}/history"
	    {% endif %}
	    >View</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  </div>
  {% endblock %}
  </div>
